
.fondo{ 
  background-image: linear-gradient(rgb(143,184,212), rgb(169,197,219), rgb(191,209,219));
  padding: 0px;
  margin: 0px;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 10vh 20vh 20vh 20vh 25vh 5vh;
}
.lista {
  list-style-type: none;
  padding-top: 10vh;
  margin: 0px;
  grid-column: 1/2;
  grid-row: 2/3; 
}
.link {
  font-family:'Courier New', Courier, monospace; 
  font-size: 3vh;
  text-decoration: none;
  color:black;
}
.hoja{
  background-image: radial-gradient(circle,rgb(255, 243, 203), rgb(250, 205, 128));
  font-family:'Courier New', Courier, monospace;
  grid-column:2/4;
  grid-row: 2/6;
  position: relative;

}
.piehoja{
  position: absolute;
  bottom:0;
  right:0;
  float: right;
  padding: 1vw;
  padding-right: 5%;
  font-size: 2vh; 
}
.lineahoja{
  width: 90%; 
  bottom:0; 
  padding-bottom: 2vh;
  position: absolute; 
  color: transparent;
  left: 5%;
  right: 5%;
  border-top: solid;
  border-color: black;
  border-top-width: 1px ;
  font-size: 3vh;
}


#texto1del01{
  padding: 2vh;
  padding-top: 4vh;
  font-size: 6vh;
}


#texto1del02{
  padding: 2vh;
  padding-top: 4vh;
  font-size: 3vh;
}
#texto2del02{
  padding: 2vh;
  font-size: 3vh;
}
#texto3del02{
  padding: 2vh;
  padding-top: 8vh;
  font-size: 3vh;
}


#texto1del03{
  padding-left: 2vh;
  padding-right: 2vh;
  padding-top: 4vh;
  font-size: 3vh;
}
#texto2del03{
  padding-left: 2vh;
  padding-right: 2vh;
  font-size: 3vh;
}
#texto3del03{
  padding-left: 2vh;
  padding-right: 2vh;
  font-size: 3vh;
}
#texto4del03{
  padding-left: 2vh;
  padding-right: 2vh;
  font-size: 3vh;
}

/* #texto1del03{
  padding: 2vh;
  padding-top: 4vh;
  font-size: 3vh;
} */

